@import "tailwindcss";

body {
  font-family: "Poppins", sans-serif;
}

@theme {
  --color-body: #FBFBFB;
  --color-main: #3C79E7;
  --color-sec: #32323299;
  --color-text: #1C1C1CCC;
  --color-label: #475467;
  --color-borders: #98A2B3;
  --color-delete: #F95555;
}

.bgImg {
  position: relative;
  z-index: 0;
}

.bgImg::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url('/src/app/assets/illustration-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.03;
  z-index: -1; 
}
