@import "tailwindcss";

body {
  font-family: "Poppins", sans-serif;
}

@theme {
  --color-body: #FBFBFB;
  --color-main: #3C79E7;
  --color-sec: #32323299;
  --color-text: #1C1C1CCC;
  --color-label: #475467;
  --color-borders: #98A2B3;
  --color-delete: #F95555;
}